<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet"  href="/css/style.css">
</head>
<body>
  <form action="/game/start" method="POST">
    <label for="count">Number of points</label>
    <input id="count" name="count" required type="number" />
    <input type="submit" value="Start" id="submit"/>
  </form>

  <a href="/map">Map</a>
</body>
</html>
